<div class="container-fluid 100vh mt-5">
  <br>
  <from >
    <div class="col-lg-12  px-0"><!--Thanh Tiêu Đề Thông Báo-->
      <div class="col-lg-12 px-0">
        <h3 class="d-flex justify-content-center">Danh sách phản
          hồi</h3>
      </div>
      <!--Phần Thân Nội Dung thông Báo-->
      <div class="container-fluid col-12 col-md-12 mt-5 col-lg-12 ">
        <form class="form-inline" [formGroup]="formSearch" (ngSubmit)="onSearch()">

          <div class="form-group row col-md-12 col-12 col-lg-4 my-2">

            <label class="col-4 justify-content-start">Tên người dùng<span style="color: red">(*)</span></label>
            <input class="col-8 form-control form-control-sm rounded" required="" formControlName="userNameSearch"
                   placeholder="Nhập tên người dùng">
<!--            <label class="col-4"></label>-->
<!--            <span class="col-8 text-danger px-0" role="alert"-->
<!--                   *ngIf="formSearch.get('userNameSearch').invalid && formSearch.get('userNameSearch').touched">Vui lòng nhập không để kí tự đặc biệt(@/*-)-->
<!--            </span>-->
          </div>
          <div class="form-group row col-12 col-md-12 col-lg-4 my-2">
            <span class="col-4 col-md-4 col-lg-4 justify-content-start">Tên phòng</span>
            <input class="col-8 col-md-8 col-lg-8 form-control form-control-sm" formControlName="roomNameSearch"
                   placeholder="Nhập tên phòng">
<!--            <label class="col-4"></label>-->
<!--            <span class="col-8 text-danger px-0" role="alert"-->
<!--                  *ngIf="formSearch.get('roomNameSearch').invalid && formSearch.get('roomNameSearch').touched">Vui lòng nhập không để kí tự đặc biệt(@/*-)-->
<!--            </span>-->
          </div>

          <div class="form-group row col-12 col-md-12 col-lg-3 my-2">
            <label class="col-4 justify-content-start">Trạng thái</label>
            <select class="col-8 form-control form-control-sm" formControlName="statusSearch" [(ngModel)]="status">
              <option [value]="false" >Đã xử lý</option>
              <option [value]="true">Chưa xử lý</option>
            </select>
          </div>
          <div class="row col-12 col-md-12 col-lg-1 my-2 mx-2 d-fex justify-content-end">
            <button class="btn-sm btn-primary" [disabled]="formSearch.invalid" type="submit">Tìm kiếm</button>
          </div>
        </form>
      </div>


      <div class=" row mt-4">
        <table class="table table-hover" style="overflow-y:scroll">
          <thead class="btn-light">
          <tr>
            <th>STT</th>

            <th>Tên người dùng</th>
            <th>Tên phòng</th>
            <th>Vấn đề</th>
            <th>Thời gian phản hồi</th>

            <th>Nội dung</th>
            <th>Trạng Thái</th>
            <th>Tác vụ</th>
          </tr>

          </thead>
   <tbody>
          <tr *ngFor="let comment of comments| paginate: { itemsPerPage: 6, currentPage: p}; let i = index">
            <td>{{i+1}}</td>
            <td>{{comment.senderName}}</td>
            <td>{{comment.roomName}}</td>
            <td>{{comment.errorTypeName}}</td>
            <td>{{comment.commentTime}}</td>
            <td>{{comment.contentComment}}</td>
            <td *ngIf="!comment.status==true; else abc" >Đã xử lý</td>
            <ng-template #abc><td>Chưa xử lý</td></ng-template>
            <td><button  style="width: 80px" [disabled]="!comment.status" [ngClass]="{'btn-sm btn-secondary':!comment.status, 'btn-sm btn-success':comment.status}" [routerLink]="['/comment/'+comment.idComment]">Xử Lý</button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event"  previousLabel="Trước"
                           nextLabel="Sau"
                           responsive="true"></pagination-controls>
      </div>
    </div>
  </from>
</div>

