<div class="justify-content-center" style="text-align: center">
  <h3>Chọn tài sản</h3>
</div>
<div class="justify-content-center container d-flex mt-3">
  <div class="w-75">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <h5>Danh sách tài sản</h5>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="d-flex float-right">
          <input class="form-control" type="text" placeholder="Tìm kiếm..."  [(ngModel)]="nameOfSearch">
          <button style="height: 30px" class="btn btn-primary ml-2" (click)="searchByName()">Tìm</button>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <form>
        <table class="table table-hover thead-light">
          <thead class="btn-dark">
          <tr>
            <th>Tài sản</th>
            <th>Số lượng trong kho(cái)</th>
            <th>Số lượng muốn thêm(cái)</th>
            <th>Thêm</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let item of assetsDetailsList | paginate: { itemsPerPage: 4, currentPage: p}; let i = index">
            <td>{{item.assetName}}</td>
            <td>{{item.total}}</td>
            <td>
              <input type="text" class="form-control" style="width: 200px" [(ngModel)]="quantity" name="quantity">
            </td>
            <td><button class="btn btn-sm btn-success" style="width: 80px" (click)="saveAsset(item.idAsset, item.assetName)">Thêm</button></td>
          </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-center">
          <button  class="btn btn-sm btn-secondary" style="width: 80px" (click)="onNoClick()">Đóng</button>
        </div>
      </form>
    </div>
    <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                         nextLabel="Sau"
                         responsive="true"></pagination-controls>
  </div>
</div>
