<div class="container-fluid d-flex justify-content-center">
  <div class="row">
    <table class="table-borderless" >
      <thead>
      <tr>
        <td style="text-align: center" colspan="2"><h4>Hủy đăng ký đặt phòng</h4></td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Tên phòng:</td>
        <td>6.5.A</td>
      </tr>
      <tr>
        <td>Loại phòng:</td>
        <td>1 ngày</td>
      </tr>
      <tr>
        <td>Ngày bắt đầu:</td>
        <td>12/03/2020</td>
      </tr>
      <tr>
        <td>Ngày kết thúc:</td>
        <td>15/03/2020</td>
      </tr>
      <tr>
        <td>Thời gian bắt đầu:</td>
        <td>8:30</td>
      </tr>
      <tr>
        <td>Thời gian kết thúc:</td>
        <td>10:00</td>
      </tr>
      <tr>
        <td>Nội dung cuộc họp:</td>
        <td>Họp bàn giao</td>
      </tr>
      <tr>
        <td style="margin-top: 9px;">Lý do hủy phòng họp:</td>
        <td><textarea cols="30" rows="2" class="mt-2">Cuộc họp bị hủy</textarea></td>
      </tr>
      <tr>
        <td colspan="2"><a role="button" class="btn btn-secondary btn-sm justify-content-center" style="width: 100px; margin-left: 88px" href="#">Trở về</a>
          <a role="button" class="btn btn-danger btn-sm justify-content-center ml-2" href="#">Hủy đăng ký</a></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
