<br>
<div class="container-fluid">
  <div class="row d-flex justify-content-center ml-5">
    <h1 class="font-weight-bold pl-5" style="color: #3c3c3c">Báo cáo thống kê </h1>
  </div>
</div>
<div class="container-fluid justify-content-center">
  <div class=" container-fluid row">
    <div class="col-md-2 mt-5 ml-2"><h4 class="font-weight-bold">I. Biểu đồ thống kê</h4>
      <div class="row ml-3">
        <label class="mt-1 font-weight-bold">Từ năm &nbsp;</label>
        <select [(ngModel)]="start" class="form-control col-md-6 ml-4 pl-4">
          <option value="2014"> 2014</option>
          <option value="2015"> 2015</option>
          <option value="2016"> 2016</option>
          <option value="2017"> 2017</option>
          <option value="2018"> 2018</option>
          <option value="2019"> 2019</option>
          <option value="2020"> 2020</option>
        </select>
      </div>
      <div class="row mt-2 ml-3">
        <label class="mt-1 font-weight-bold">Đến năm &nbsp;&nbsp;&nbsp;</label>
        <select [(ngModel)]="end" class="form-control col-md-6 pl-4">
          <option value="2014"> 2014</option>
          <option value="2015"> 2015</option>
          <option value="2016"> 2016</option>
          <option value="2017"> 2017</option>
          <option value="2018"> 2018</option>
          <option value="2019"> 2019</option>
          <option value="2020"> 2020</option>
        </select>
      </div>
      <button (click)="chartYear()" class="btn btn-success mt-1 offset-md-8">xem</button>
    </div>
    <div class="col-md-9">
      <br>
      <div style="width: 100%;">
        <canvas
          baseChart
          height="100vh"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [colors]="chartColors"
          (chartClick)="onChartClick($event)">
        </canvas>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 mt-5 ml-2"><h4 class="font-weight-bold">II. Thống kê theo số liệu</h4></div>
    <div class="col-md-9">
      <div class="container-fluid ">
        <div class="row mt-5">
          <div class="col-md-5 border border border-dark">
            <form [formGroup]="statisticByTime">
              <h5 class="font-weight-bold mt-1">Theo thời gian</h5>
              <div formGroupName="dateGroup">
                <div class="row">
                  <label class="font-weight-bold offset-md-2 mt-3">Từ ngày:</label>
                  <!--            <input class="form-control col-md-7 ml-3" type="date" formControlName="startDate" >-->
                  <mat-form-field class="ml-3">
                    <input matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate"
                           placeholder="chọn ngày bắt đầu"
                           formControlName="startIn"
                           id="startIn">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div class="offset-md-3 pl-4">
                    <span class="text-danger"
                          *ngIf="statisticByTime.get('dateGroup').get('startIn').errors?.required && statisticByTime.get('dateGroup').get('startIn').touched">Vui lòng nhập ngày bắt đầu</span>
                  </div>
                </div>
                <div class="row mt-3">
                  <label class="font-weight-bold offset-md-2 mt-3">Đến ngày: </label>
                  <mat-form-field class="ml-2">
                    <input matInput [matDatepicker]="picker1" [max]="maxDate" [min]="minDate"
                           placeholder="Chọn ngày kết thúc" formControlName="startOut"
                           id="startOut">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="offset-md-3 pl-4">
                    <span class="text-danger"
                          *ngIf="statisticByTime.get('dateGroup').get('startOut').errors?.required && statisticByTime.get('dateGroup').get('startOut').touched">Vui lòng nhập ngày kết thúc</span>
                </div>
                <div
                  *ngIf="statisticByTime.get('dateGroup').get('startIn').errors?.required || statisticByTime.get('dateGroup').get('startOut').errors?.required ; else block"></div>
                <ng-template #block class=" offset-md-3 pl-2">
                   <span class="text-danger"
                         *ngIf="statisticByTime.get('dateGroup').hasError('invalidDateNotMatch') && statisticByTime.get('dateGroup').touched">Khoảng thời gian không hợp lệ</span>
                </ng-template>

                <div class="offset-md-9  mt-3 mb-2">
                  <div *ngIf="loading == true; else blockLoading">
                    <button class="btn btn-success mt-2 " (click)="onSubmitByTime()" type="submit"
                            [disabled]="statisticByTime.invalid">
                      Thống kê
                    </button>
                  </div>
                  <ng-template #blockLoading class="offset-md-9  mt-3 mb-2">
                    <button class="btn btn-primary mt-2" type="button" disabled>
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                      Đang tải...
                    </button>
                  </ng-template>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 border border border-dark ">
            <form [formGroup]="statisticByRoom" (ngSubmit)="onSubmitByRoom()">
              <h5 class="font-weight-bold mt-1">Theo phòng </h5>
              <div class="row mt-4">
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="font-weight-bold offset-md-1">Loại phòng:</label>
                    <select class="form-control col-md-6 ml-2 input-group-text" formControlName="roomType">
                      <option value="">--Chọn--</option>
                      <option *ngFor="let element of roomType">{{element.roomTypeName}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="row">
                    <label class="font-weight-bold offset-md-1">Tên phòng:</label>
                    <select class="form-control col-md-6 ml-1 input-group-text" formControlName="roomName">
                      <option value="">--Chọn--</option>
                      <option *ngFor="let element1 of roomNames">{{element1}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-11 offset-md-1">
                  <div class="row">
                    <div class="mt-3"><label class="font-weight-bold d-flex">Thống kê theo:</label></div>
                    <div class="col-md-5">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="username-addon">Tháng</span>
                        </div>
                        <select class="form-control" aria-label="username" aria-describedby="username-addon"
                                id="username"
                                name="username" formControlName="month">
                          <option value="">--Chọn--</option>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                      </div>
                      <div class="input-group mt-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Năm &nbsp;</span>
                        </div>
                        <select class="form-control mdb-select md-form" aria-label="username"
                                aria-describedby="username-addon" name="username" formControlName="year">
                          <option value="">--Chọn--</option>
                          <option>2014</option>
                          <option>2015</option>
                          <option>2016</option>
                          <option>2017</option>
                          <option>2018</option>
                          <option>2019</option>
                          <option>2020</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9"><p class="text-danger ml-3 mt-2">{{messageError}}</p></div>
                    <div class="col-md-3 mb-1">
                      <div *ngIf="loading1 == true; else blockLoading1">
                        <button class="btn  btn-success" type="submit">Thống kê</button>
                      </div>
                    </div>
                    <ng-template #blockLoading1 class="offset-md-7  mt-3 mb-2">
                      <button class=" btn btn-primary mt-2" type="button" disabled>
                        Đang tải...
                      </button>
                    </ng-template>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
