<h3 class="text-center text-primary ">Đổi mật khẩu</h3>
<hr class="border-dark">
<form class=" form-inline p-1 m-0 " style="width: 95%" [formGroup]="formChangePassword">
  <div class="container col-lg-12 col-md-12 p-1 m-1">
    <div class=" form-group mt-2">
      <label class="col-lg-3 col-md-3 justify-content-start">Mật khẩu cũ </label>
      <input type="password" class="col-lg-9 col-md-9 form-control form-control-sm " formControlName="oldPassword">
      <div class="text-danger font-italic" role="alert" style="margin-left: 25%;font-size: 12px" *ngIf="formChangePassword.hasError('passwordNotDuplicate') &&
      formChangePassword.get('oldPassword').touched">
        Mật khẩu không chính xác!
      </div>
    </div>
    <div class=" form-group mt-2">
      <label class="col-lg-3 col-md-3 justify-content-start">Mật khẩu </label>
      <input type="password" class="col-lg-9 col-md-9 form-control form-control-sm " formControlName="newPassword"
             placeholder="Mật khẩu từ 6 đến 30 kí tự">
      <div class="text-danger font-italic" role="alert" style="margin-left: 25%;font-size: 12px" *ngIf="formChangePassword.get('newPassword').invalid &&
      formChangePassword.get('newPassword').touched">
           <span *ngIf="formChangePassword.get('newPassword').hasError('required')"
                 style="font-size: 12px">Vui lòng nhập mật khẩu</span>
        <span
          *ngIf="formChangePassword.get('newPassword').hasError('pattern')"
          style="font-size: 12px">Mật khẩu không hợp lệ</span>
      </div>
    </div>
    <div class=" form-group  mt-2">
      <label class="col-lg-3 col-md-3 justify-content-start">Nhập lại mật khẩu </label>
      <input type="password" class="col-lg-9 col-md-9 form-control form-control-sm " formControlName="confirmPassword">
      <div class="text-danger font-italic" role="alert" style="margin-left: 25%;font-size: 12px" *ngIf="formChangePassword.hasError('passwordNotMatch') &&
      formChangePassword.get('confirmPassword').touched"> Mật khẩu không chính xác!
      </div>
    </div>
  </div>
  <div class="mt-4 d-flex " style="margin-left: 40%">
    <button class="btn btn-success  btn-sm mr-4 " type="submit" (click)="changePass()"> Đổi mật khẩu</button>
    <button class="btn btn-secondary  btn-sm " mat-dialog-close role="button" style="width: 80px"> Đóng</button>
  </div>
</form>
