<div class="container-fluid px-0 w-75 mt-3 ">
  <h3 class="row d-flex justify-content-center">Chi tiết tài sản</h3>
  <div class="row px-0 mx-0 mt-5" style="height: 90%">
    <div class="col-8 px-0 ">
      <div class="row d-flex justify-content-center ml-1">
        <div class="col-6">
          <div class="row d-flex justify-content-center">
            <div class="col-4 px-0">
              <p class="font-weight-bold">Tên tài sản:</p>
              <p class="font-weight-bold">Số lượng:</p>
              <p class="font-weight-bold">Đang sửa:</p>
            </div>
            <div class="col-8 px-0">
              <p>{{asset.assetName}}</p>
              <p>{{asset.total}} cái</p>
              <p>{{asset.fixingQuantity}} cái</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row d-flex justify-content-center">
            <div class="col-3 px-0">
              <p class="font-weight-bold">Mô tả:</p>
              <p class="font-weight-bold">Giá:</p>
            </div>
            <div class="col-9 px-0">
              <p>{{asset.description}}</p>
              <p>{{asset.price}} VND</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <p class="font-weight-bold mt-3">Danh sách phòng đang sử dụng tài sản </p>
      <p><b>Kết quả: </b><span class="text-danger font-weight-bolder mt-5 ">{{sizeMSG}}</span></p>
      <table class="table table-hover">
        <thead class="thead-light">
        <tr>
          <th>Stt</th>
          <th>Tên phòng</th>
          <th>Đang sử dụng</th>
          <th>Đơn vị</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let element of asset.assetDetailDTOList|paginate: { itemsPerPage: 5, currentPage: d }; let i = index">
          <td>{{i + 1}}</td>
          <td>{{element.nameMeetingRoom}}</td>
          <td>{{element.quantity}}</td>
          <td>Cái</td>
        </tr>
        </tbody>
      </table>
      <pagination-controls class=" d-flex justify-content-center " (pageChange)="d = $event" previousLabel="Trước"
                           nextLabel="Sau" responsive="true"></pagination-controls>
    </div>
    <div class="col-4 px-5 mt-3">
      <img src="../../../assets/image-asset/{{asset.image}}"
           class="w-100 ml-5">
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <button type="button" class="btn btn-secondary " routerLink="/asset">Quay lại</button>
  </div>
</div>

