<div class="container-fluid mt-3">
  <div class="row mt-4">
    <div class="col-6 col-sm-6">
      <div class="col-sm-12 ml-2">
        <p style="font-size: 25px">Chi tiết phòng họp</p></div>
      <div class="col-10 ml-5">
        <table class="table">
          <tr>
            <td>Stt :</td>
            <td>{{meetingRoom.idRoom}}</td>
          </tr>
          <tr>
            <td>Tên phòng :</td>
            <td>{{meetingRoom.roomName}}</td>
          </tr>
          <tr>
            <td>Tầng :</td>
            <td>{{meetingRoom.floor}}</td>
          </tr>
          <tr>
            <td>Khu vực :</td>
            <td>{{meetingRoom.zone}}</td>
          </tr>
          <tr>
            <td>Trạng thái :</td>
            <td>{{meetingRoom.roomStatusName}}</td>
          </tr>

          <tr>
            <td>Loại phòng :</td>
            <td>{{meetingRoom.roomTypeName}}</td>
          </tr>

          <tr>
            <td>Sức chứa :</td>
            <td>{{meetingRoom.capacity + ' người'}}</td>
          </tr>

          <tr>
            <td>Tài sản :</td>
            <td>
              <ul style="list-style-type: none; padding: 0">
                <li *ngFor="let asset of meetingRoom.asset">
                  {{asset.nameAssetDetail}}: {{asset.quantity + ' cái'}}
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a class="btn btn-success btn-sm" style="width: 120px;" [routerLink]="['/meeting-room']"
                 role="button">Quay lại</a></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-6">
      <img src="../../assets/image-meeting-room/{{meetingRoom.image}}" class="d-block"
           alt="...">
    </div>
  </div>
</div>
