<div class="container-fluid px-0 w-50 ">
  <h3 class="row d-flex justify-content-center">Xóa số lượng tài sản </h3>
  <form>
    <div class="form-group">
      <p>Tài Sản: </p>
      <input class="form-control" type="text" value="máy chiếu" readonly>
    </div>

    <div class="form-group">
      <p>Số lượng: </p>
      <input class="form-control" type="text"  required>
    </div>
    <div class="row d-flex justify-content-center ml-4">
      <div>
        <button [mat-dialog-close]="" class="btn btn-secondary">Hủy</button>
        <button type="submit" class="btn btn-danger mx-4">Xóa</button>
      </div>
    </div>
  </form>
</div>
