<div class="container d-flex justify-content-center">
  <div class="w-50 border rounded-lg p-3 my-5">
    <h3 class="d-flex justify-content-center bg-light p-3 mb-3">Tìm kiếm phòng trống</h3>
    <form (ngSubmit)="findMeetingRooms();" [formGroup]="formMeetingRoomSearched">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Địa điểm họp</label>
        <div class="col-sm-8">
          <select class="form-control form-control-sm" formControlName="zone">
            <option value="" [selected]="true">--Chọn--</option>
            <option value="Khu A">Khu A</option>
            <option value="Khu B">Khu B</option>
            <option value="Khu C">Khu C</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Loại cuộc họp</label>
        <div class="col-sm-8">
          <select class="form-control form-control-sm" formControlName="roomTypeName">
            <option value="">--Chọn--</option>
            <option *ngFor="let item of roomTypeList">{{item.roomTypeName}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Số người tham dự <sup class="text-danger">*</sup></label>
        <div class="col-sm-8">
          <input class="form-control form-control-sm" type="number" min="2" max="50"
                 placeholder="Số người tham dự" formControlName="capacity">
          <span class="text-danger"
                *ngIf="formMeetingRoomSearched.get('capacity').invalid && formMeetingRoomSearched.get('capacity').touched">{{ capacity_msg }}
          </span>
        </div>

      </div>

      <div formGroupName="dateGroup">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Ngày bắt đầu <sup class="text-danger">*</sup></label>
          <div class="col-sm-8">
            <mat-form-field class="w-100">
              <input class="form-control form-control-sm" matInput [matDatepicker]="myDatepicker1" [min]="minDate"
                     [max]="maxDate"
                     formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker1 startView="month"></mat-datepicker>
            </mat-form-field>
            <span class="text-danger"
                  *ngIf="formMeetingRoomSearched.get('dateGroup').get('startDate').invalid && formMeetingRoomSearched.get('dateGroup').get('startDate').touched">{{ startDate_msg }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Ngày kết thúc <sup class="text-danger">*</sup></label>
          <div class="col-sm-8">
            <mat-form-field class="w-100">
              <input class="form-control form-control-sm" matInput [matDatepicker]="myDatepicker2" [min]="minDate"
                     [max]="maxDate"
                     formControlName="endDate">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker2 startView="month"></mat-datepicker>
            </mat-form-field>
            <span class="text-danger"
                  *ngIf="formMeetingRoomSearched.get('dateGroup').get('endDate').invalid && formMeetingRoomSearched.get('dateGroup').get('endDate').touched">{{ endDate_msg }}
            </span>
            <span class="text-danger"
                  *ngIf="formMeetingRoomSearched.get('dateGroup').hasError('datesNotMatch') &&
                  formMeetingRoomSearched.get('dateGroup').touched">Ngày kết thúc không được sớm hơn ngày bắt đầu.</span>
          </div>
        </div>
      </div>

      <div formGroupName="timeGroup">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Giờ bắt đầu <sup class="text-danger">*</sup></label>
          <div class="col-sm-8">
            <select class="form-control form-control-sm" formControlName="startTime">
              <option value="" disabled>--Chọn--</option>
              <option *ngFor="let item of timeFrameList" [ngValue]="item.idTime">{{item.timeValue}}</option>
            </select>
            <span class="text-danger"
                  *ngIf="formMeetingRoomSearched.get('timeGroup').get('startTime').invalid && formMeetingRoomSearched.get('timeGroup').get('startTime').touched">{{ startTime_msg }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Giờ kết thúc <sup class="text-danger">*</sup></label>
          <div class="col-sm-8">
            <select class="form-control form-control-sm" formControlName="endTime">
              <option value="" disabled>--Chọn--</option>
              <option *ngFor="let item of timeFrameList" [ngValue]="item.idTime">{{item.timeValue}}</option>
            </select>
            <span class="text-danger"
                  *ngIf="formMeetingRoomSearched.get('timeGroup').get('endTime').invalid && formMeetingRoomSearched.get('timeGroup').get('endTime').touched">{{ endTime_msg }}
            </span>
            <span class="text-danger"
                  *ngIf="formMeetingRoomSearched.get('timeGroup').hasError('timesNotMatch') &&
                  formMeetingRoomSearched.get('timeGroup').touched">Giờ kết thúc phải lớn hơn giờ bắt đầu.</span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Thiết bị</label>
        <ul class="col-sm-8" style="list-style-type: none;">
          <li *ngFor="let asset of assetList">
            <input  class="mr-1" type="checkbox" (change)="onChange(asset.assetName, $event.target.checked)">{{asset.assetName}}
          </li>
        </ul>
      </div>

      <div class="d-flex justify-content-center row mb-2">
        <button class="btn btn-sm btn-primary" type="submit" [disabled]="formMeetingRoomSearched.invalid">Tìm kiếm
        </button>
      </div>
    </form>
  </div>
</div>

<!--  Show list of meeting rooms-->
<div class="container">
  <p><b>Kết quả: </b><span class="text-danger font-weight-bolder">{{size_msg}}</span></p>
  <table class="table table-hover" style="overflow-scrolling: auto">
    <thead class="thead-light">
    <tr>
      <th>STT</th>
      <th>Tên phòng</th>
      <th>Sức chứa</th>
      <th>Khu vực</th>
      <th style="max-width: 200px;">Thiết bị</th>
      <th>Đăng ký</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of meetingRoomList | paginate:{itemsPerPage: 4, currentPage: p}; let i = index;">
      <td>{{(i + 1)}}</td>
      <td>{{item.roomName}}</td>
      <td>{{item.capacity}}</td>
      <td>{{item.zone}}</td>
      <td style="max-width: 200px;">{{item.roomAsset}}</td>
      <td>
        <button class="btn btn-sm btn-success" [routerLink]="['/book-room/']" (click)="sendId(item.idRoom);">Đăng ký
        </button>
      </td>
    </tr>
    <tr>
      <td>[No.]</td>
      <td>[name]</td>
      <td>[capacity]</td>
      <td>[zone]</td>
      <td>[asset]</td>
      <td>
        <button class="btn btn-sm btn-success" disabled [routerLink]="['/book-room']">Đăng ký</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Trước" nextLabel="Sau"
                         responsive="true"></pagination-controls>
  </div>
</div>
