<div class="container-fluid px-0 w-75 ">
  <h3 class="row d-flex justify-content-center">Chi tiết tài sản</h3>

  <div class="row px-0 mx-0" style="height: 90%">
    <div class="col-8 px-0 ">

      <div class="row d-flex justify-content-center ml-1">
        <div class="col-6">
          <div class="row d-flex justify-content-center">
            <div class="col-4 px-0">
              <p>Tên tài sản:</p>
              <p>Số lượn:</p>
              <p>Đang sửa:</p>
            </div>
            <div class="col-8 px-0">
              <span></span>
              <span>{{asset.image}}</span>
              <span>{{asset.price}}</span>

            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row d-flex justify-content-center">
            <div class="col-3 px-0">
              <p>Mô tả:</p>
              <p>Giá:</p>
            </div>
            <div class="col-9 px-0">
              <span>{{asset.price}}</span>
              <span>{{asset.usingQuantity}}</span>
            </div>
          </div>
        </div>
      </div>

      <br>

      <p>Danh sách phòng đang sử dụng tài sản</p>

      <table class="table table-hover table-striped mt-3">
        <thead>
        <tr>
          <th>Stt</th>
          <th>Tên phòng</th>
          <th>Đang sử dụng</th>
          <th>Đơn vị</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>53.B</td>
          <td>2</td>
          <td>Cái</td>
        </tr>
        <tr>
          <td>2</td>
          <td>53.C</td>
          <td>2</td>
          <td>Cái</td>
        </tr>
        <tr>
          <td>3</td>
          <td>44.A</td>
          <td>2</td>
          <td>Cái</td>
        </tr>
        <tr>
          <td>4</td>
          <td>23.B</td>
          <td>2</td>
          <td>Cái</td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="col-4 px-5 mt-5">
      <img src="https://www.sieuthivienthong.com/imgs/art/p_30150_OPTOMA-SA500.jpg "
           class="w-100">
    </div>

  </div>
  <div class="row d-flex justify-content-center">
    <button type="button" class="btn btn-secondary " routerLink="/asset">Back</button>
  </div>
</div>

