<div class="container justify-content-center">
  <hr>
  <div class="row d-flex justify-content-center mr-5"><h3>Báo cáo thống kê </h3></div>
  <div class="container-fluid ">
    <div class="row mt-5">
      <div class="col-md-5 border border-success">
        <form [formGroup]="statisticByTime" (ngSubmit)="onSubmit()">
          <h5 class="font-weight-bold mt-3">Theo thời gian</h5>
          <div class="row mt-3">
            <label class="font-weight-bold offset-md-2">Từ ngày:</label>
            <input class="form-control col-md-7 ml-3" type="date" formControlName="startDate" >
            <p class="col-md-10 offset-md-2 text-danger"  *ngIf="statisticByTime.get('startDate').invalid && statisticByTime.get('startDate').touched; else blockEndDate">dữ liệu không đúng định dang!!!</p>
            <ng-template #blockEndDate>
              <p class="pt-1"></p>
            </ng-template>
          </div>
          <div class="row mt-3">
            <label class="font-weight-bold offset-md-2">Đến ngày:</label>
            <input class="form-control col-md-7 ml-1" type="date" formControlName="endDate">
            <p class="col-md-10 offset-md-2 text-danger"  *ngIf="statisticByTime.get('endDate').invalid && statisticByTime.get('endDate').touched; else blockEndDate">dữ liệu không đúng định dang!!!</p>
            <ng-template #blockEndDate>
              <p class="pt-1"></p>
            </ng-template>
          </div>
          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-success" type="submit" [disabled]="statisticByTime.invalid" [ngClass]="{'btn-primary':statisticByTime.valid, 'btn-outline-primary':statisticByTime.invalid}">Thống kê</button>
          </div>
        </form>
      </div>

      <div class="col-md-1"></div>
      <div class="col-md-6 border border-success ">
        <form [formGroup]="statisticByRoom" (ngSubmit)="onSubmitByRoom()">
        <h5 class="font-weight-bold mt-3">Theo phòng</h5>
        <div class="row mt-3">
          <div class="form-group col-md-6">
            <div class="row">
              <label class="font-weight-bold offset-md-1">Loại phòng:</label>
              <select class="form-control col-md-6 ml-2">
                <option disabled selected>--Chọn--</option>
                <option>1 lần</option>
                <option>Hàng tuần</option>
                <option>Hàng tháng</option>
                <option>Hàng ngày</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="row">
              <label class="font-weight-bold offset-md-1">Tên phòng:</label>
              <select class="form-control col-md-6 ml-1">
                <option disabled selected>--Chọn--</option>
                <option>A2</option>
                <option>B2</option>
                <option>C3</option>
                <option>A4</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-11 offset-md-1">
            <div class="row">
              <div class="mt-3 "><label class="font-weight-bold d-flex">Thống kê theo:</label></div>
              <div class="col-md-5">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="username-addon">Tháng</span>
                  </div>
                  <select class="form-control" aria-label="username" aria-describedby="username-addon" id="username"
                          name="username">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
                <div class="input-group mt-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Năm &nbsp;</span>
                  </div>
                  <select class="form-control mdb-select md-form" aria-label="username" aria-describedby="username-addon" name="username">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                  </select>
                </div>
              </div>
              <div class="offset-md-2 mt-5">
                <button class="btn btn-success">Thống kê</button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div><div></div>
  <app-statistical-results-by-room></app-statistical-results-by-room>
  <app-statistical-results-by-time></app-statistical-results-by-time>
</div>
