<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 mt-3">
      <h3 style="color: #24292e; text-align: center">Danh sách phòng họp</h3></div>
  </div>
  <div class="mb-2"  style="border: 1px solid #d5d5d5; border-radius: 5px">
    <form [formGroup]="formSearch" (ngSubmit)="search()">
      <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-3 col-sm-3 mt-3">
          <div class="row form-group">
            <label class="col-5 col-sm-5 col-form-label" for="tenPhong">Tên phòng<sup
              class="text-danger">*</sup></label>
            <div class="col-7 col-sm-7">
              <input type="text" id="tenPhong" formControlName="roomName" class="form-control form-control-sm">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formSearch.get('roomName').hasError('pattern') && formSearch.get('roomName').touched">
                Tên phòng không nhập ký tự đặc biệt ($&+,:;=?@#)
              </div>
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formSearch.get('roomName').hasError('maxlength') && formSearch.get('roomName').touched">
                Tên phòng không quá 30 ký tự
              </div>
            </div>
          </div>
          <div class="row mt-1 form-group">
            <label class="col-5 col-sm-5 col-form-label" for="trangThai">Trạng thái<sup
              class="text-danger">*</sup></label>
            <div class="col-7 col-sm-7 input-group input-group-sm">
              <select class="form-control " id="trangThai" formControlName="roomStatusName">
                <option value="">--Chọn--</option>
                <option *ngFor="let roomStatus of roomStatusList" [ngValue]="roomStatus">
                  {{roomStatus}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-3 col-sm-3 mt-3">
          <div class="row form-group">
            <label class="col-5 col-form-label col-sm-5" for="tang">Tầng<sup class="text-danger">*</sup></label>
            <div class="col-7 col-sm-7">
              <input id="tang" type="text" formControlName="floor" class="form-control form-control-sm">
              <div class="alert- alert-danger small" role="alert"
                   *ngIf="formSearch.get('floor').invalid && formSearch.get('floor').touched">
                Nhập số nguyên,lớn hơn 0, nhỏ hơn 80
              </div>
            </div>
          </div>
          <div class="row mt-1 form-group">
            <label class="col-5 col-sm-5 col-form-label pr-0" for="loaiPhong">Loại phòng<sup
              class="text-danger">*</sup></label>
            <div class="col-7 col-sm-7 input-group input-group-sm">
              <select class="form-control text-center" id="loaiPhong" formControlName="roomTypeName">
                <option value="">--Chọn--</option>
                <option *ngFor="let roomType of roomTypeList" [ngValue]="roomType">
                  {{roomType}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-3 col-sm-3 mt-3">
          <div class="row form-group">
            <label class="col-5 col-form-label" for="khuVuc">Khu vực<sup class="text-danger">*</sup></label>
            <div class="col-7 col-sm-7 input-group input-group-sm"><select class="form-control" id="khuVuc"
                                                                           formControlName="zone">
              <option value="">--Chọn--</option>
              <option value="khu A">Khu A</option>
              <option value="khu B">Khu B</option>
              <option value="khu C">Khu C</option>
            </select></div>
          </div>
          <div class="row mt-1 form-group">
            <label class="col-5 col-form-label" for="sucChua">Sức chứa<sup class="text-danger">*</sup></label>
            <div class="col-7 form-row ml-0">
              <input type="text" style="width: 49%" id="sucChua" class="form-control form-control-sm"
                     placeholder="Tối thiểu"
                     formControlName="capacity">
              <input type="text" style="width: 48%" class="form-control" class="form-control form-control-sm ml-1"
                     formControlName="capacityMax" placeholder="Tối đa">
              <div class="d-flex">
                <div class="alert- alert-danger small" role="alert" style="width: 49%"
                     *ngIf="formSearch.get('capacity').invalid && formSearch.get('capacity').touched">
                  Nhập số nguyên, tối thiểu 10
                </div>
                <div class="alert- alert-danger small ml-1" role="alert" style="width: 49%"
                     *ngIf="formSearch.get('capacityMax').invalid && formSearch.get('capacityMax').touched">
                  Nhập số nguyên, tối đa 50
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 col-sm-2 mt-3">
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center mb-3">
          <button type="button" class="btn btn-warning btn-sm mr-2" (click)="reset()" style="width: 63px">Đặt lại</button>
          <button type="submit" class="btn btn-primary btn-sm ml-2" [disabled]="formSearch.invalid">Tìm kiếm
          </button>
        </div>
      </div>
    </form>
  </div>


</div>

<div class="container">
  <div class="row mt-5 mb-2">
    <div class="col-6 font-weight-bold">
      * Kết quả : <span class="text-danger">{{result}}</span>
    </div>
    <div class="col-6 d-flex justify-content-end"><a [routerLink]="['/meeting-room-add']" class="btn btn-success btn-sm"
                                                     *ngIf="showAdminBoard; else elseBlock" role="button">Thêm phòng</a>
      <ng-template #elseBlock><a [routerLink]="['/search-available-room']" class="btn btn-success btn-sm"
                                 *ngIf="showUserBoard" role="button">Đặt phòng</a></ng-template>
    </div>
  </div>

  <div class="row mt-2">
    <table class="table table-hover p-0" *ngIf="result.length < 3">
      <thead class="thead-light">
      <tr>
        <th>STT</th>
        <th>Tên phòng</th>
        <th>Tầng</th>
        <th>Khu vực</th>
        <th>Trạng thái</th>
        <th>Loại phòng</th>
        <th>Sức chứa</th>
        <th class="text-center"><span>Tác vụ</span></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let meetingRoom of meetingRoomList | paginate : { itemsPerPage: 5, currentPage: p }, let i = index">
        <td>{{i + 1}}</td>
        <td>{{meetingRoom.roomName}}</td>
        <td style="text-align : right; margin-right: 2px">{{meetingRoom.floor}}</td>
        <td>{{meetingRoom.zone}}</td>
        <td>{{meetingRoom.roomStatusName}}</td>
        <td>{{meetingRoom.roomTypeName}}</td>
        <td>{{meetingRoom.capacity + ' người'}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-info btn-sm mt-1"
                  [routerLink]="['/meeting-room/' + meetingRoom.idRoom]">
            Chi tiết
          </button>

          <button type="button" class="btn btn-warning btn-sm mt-1 ml-3"
                  *ngIf="showAdminBoard" [routerLink]="['/meeting-room-edit/' + meetingRoom.idRoom]">Sửa
          </button>

          <button type="button" class="btn btn-danger btn-sm mt-1 ml-3" *ngIf="showAdminBoard"
                  (click)="delete(meetingRoom.idRoom)">
            Xóa
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-3 text-danger">{{messageHome}}</div>
    <div class="col-6 d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                           nextLabel="Sau"
                           responsive="true"></pagination-controls>
    </div>
  </div>
</div>

