<div class="p-0 d-flex justify-content-end">
  <button mat-dialog-close type="button" class="m-0 btn-sm">
    <span aria-hidden="true">&times;</span></button>
</div>
<h3 class="text-center text-primary">Sửa người dùng</h3>
<hr class="border">
<form class=" p-1 m-0 form-inline " style="width: 95%" [formGroup]="formEdit">
  <div class="container-fluid col-lg-12 col-md-12 p-1 m-1 ">
    <div class=" form-group mt-4">
      <label class="col-lg-3 col-md-3  justify-content-start">Tên đăng nhập </label>
      <input type="text" class="col-lg-9 col-md-9  form-control form-control-sm " formControlName="userName" readonly>
    </div>
    <div class=" form-group mt-4">
      <label class="col-lg-3 col-md-3 d-flex justify-content-start">Mật khẩu </label>
      <input type="password" class="col-lg-9 col-md-9 form-control form-control-sm" formControlName="password" placeholder="Nhập mật khẩu mới">
    </div>
    <div class=" form-group mt-4">
      <label class="col-lg-3 col-md-3 d-flex justify-content-start">Nhập lại mật khẩu </label>
      <input type="password" class="col-lg-9 col-md-9 form-control form-control-sm "
             placeholder="Nhập lại mật khẩu mới ">
    </div>
    <div class=" form-group mt-4">
      <label class="col-lg-3 col-md-3 d-flex justify-content-start">Quyền</label>
      <select class="col-lg-9 col-md-9 form-control form-control-sm " formControlName="roleName">
        <!--        <option [ngValue]="formEdit.value.role">{{formEdit.value.role.roleName}}</option>-->
        <option *ngFor="let role of roleList" [ngValue]="role.roleName">
          <span *ngIf="role.roleName=='ROLE_ADMIN'">Quản trị viên</span>
          <span *ngIf="role.roleName=='ROLE_USER'">Người dùng</span>
        </option>
      </select>
    </div>
    <div class=" form-group mt-4">
      <label class="col-lg-3 col-md-3 justify-content-start">Họ và tên </label>
      <input type="text" class="col-lg-9 col-md-9 form-control form-control-sm " formControlName="fullName">
    </div>
    <div class=" form-group mt-4">
      <label class="col-lg-3 col-md-3  justify-content-start">Bộ phận </label>
      <input type="text" class="col-lg-9 col-md-9 form-control form-control-sm " formControlName="department">
    </div>
  </div>
</form>
<div class="mt-4 d-flex justify-content-center">
  <button type="submit" role="button" class="btn btn-warning btn-sm " style="width: 80px" (click)="editUser()">Sửa
  </button>
</div>


